.header{
    // border-bottom:solid black;
    
    display:flex;	
    justify-content: space-between;

    height:80px;

    @media (max-width:599px){
        height:40px;
    }

    &__logo{
        // border:solid blue;
        text-decoration:none;

        p{
            font-family: "YuGothic M";
            font-size:35px;
            padding-top:10px;
            color: black;
            @media (max-width:599px){
                font-size :17px;
                padding-top:10px;
            }
       
            &:hover{
                color: black;
            }
        }
       
    }

    &__navigation{
        display:flex;	
        align-items: center;
        justify-content:flex-end;

        height:100%;      

        nav{
            font-size: 20px;
            margin-right: 30px;

            @media (max-width:599px){
                font-size:10px;
                margin-right:10px;
            }
        }
    }
    
}

