.main{
    // border:solid gray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    transition:0.8s;
    background-color: whitesmoke;

    @media (max-width:599px){
        flex-direction: column;
    }


    &__imageContainer{
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;

        background-size:cover;
        aspect-ratio: 3/2;
        opacity:0.83;
        margin-top:5%;
        transition:0.5s;
        width: 30%;
        text-decoration: none;   

        @media (max-width:599px){
            width:60%;
            margin:30px auto;
        }

        &__title{
            display:flex;
            // flex-direction: column;
            justify-content: flex-end;
            width:100%;
            height:20%;
            background: linear-gradient(to top, rgba(0,0,0,0), rgba(0, 0, 0, 0));
            transition:0.4s;
        }

        h6{
            margin-top: auto;
            display: inline-block;
            color:white;
            opacity:0;
            padding-top: 3%;
            padding-right: 3%;
            transition:0.4s;
        }

        &:hover{
            opacity:1;
            h6{
                opacity:1;
            }
            div{
                background: linear-gradient(to top, rgba(0,0,0,1), rgba(0, 0, 0, 0));
            }
        }
    }
}