

    .dropBox{
        display:inline-block;
        height: 100px;
        border:solid 1px black,
    }

    .uploadModal{
        position:absolute;
        z-index: 1;
        transition:1s;
        height:auto;
        width:70vw;
        transform:translateX(15vw);
        margin-top: 12vh;
        border: solid 0.05px gray;
        border-radius: 5px;
        background-color: whitesmoke;

        @media (max-width:599px){
            width:95vw;
            transform:translateX(2.5vw);
        }


        &__label{
            display: flex;
            justify-content: space-between;
            height:75px;

            padding-top:15px;
            padding-bottom:15px;
            padding-left:10px;
            padding-right:10px;
            margin-bottom:15px;
            border-bottom:solid 0.5px gray;
            p{
                font-size: 30px;
            }

            @media (max-width:599px){
                height: 25px;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 2px;
                padding-right: 2px;
                margin-bottom: 2px;
                p{
                    font-size: 15px;
                }
            }
    
        }

        &__dropContainer{
            width:45vw;
            height:45*0.6666vw;
            margin:0 auto;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2vh;

            @media (max-width:599px){
                width:80vw;
                height:80*0.6666vw;
            }

            &__previewPhoto{
          
                width:100%;
                height: auto;
                background-color: white;
                padding:1%;
                border: 1px solid gray;
                border-radius: 2vh;
                
            }
            
        }

        &__upperContainer{
            display: flex;
            justify-content: space-between;
            margin:15px;
            overflow: hidden;

            @media (max-width:599px){
                flex-direction: column;
                margin:5px;
            }

            &__left{
                width:50%;
                @media (max-width:599px){
                    width:auto;
                    margin: 3px;
                }
            }

            &__right{
                display: flex;
                justify-content: center;
                align-items: center;
                width:50%;
                padding-top:66/2%;;
                border:0.5px dashed  gray;

                @media (max-width:599px){
                    margin:0 auto;
                    width: 280px;
                    height: 280px;
                }
            }
        }

        &__lowerContainer{
            display: flex;
            justify-content: flex-end;
            button{
                margin-right: 10px;
                margin-bottom: 10px;
                @media (max-width:599px){
                    margin-right: 3px;
                    margin-bottom: 3px;
                }
            }         
        }
}